.category{
    display: flex;
    flex-direction: column;
    min-width: 280px;
    max-width: 1200px;
}

.category div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90vw;
    height: 260.85px;
    top: 0.66px;
    left: 462.24px;
    gap: 2rem;
    border-radius: 4px 4px 0px 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    text-align: center;

}

.category h2{
    padding-block: 1rem;    
}

.category img{
    width: 320px;
    height: 260px;
    top: 2.79px;
    left: 924.34px;
    gap: 0px;
    border-radius: 4px 4px 0px 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    border: 4px solid #6BD1FF;
    padding: 4px;
    flex-wrap: wrap;
}