.card {
    display: flex;
}

.card img {
    width: 350px;
    height: 260.px;
    top: 2.79px;
    left: 924.34px;
    gap: 0px;
    border-radius: 4px 4px 0px 0px;
    border: 4px 0px 0px 0px;
    opacity: 0px;
    border: 4px solid #6BD1FF
    
}